<%- include('partials/head') %> 
<body>
  <%= messages %>
  <h1 style='text-align: center;'>Recently Played Tracks</h1>
  <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Track</th>
      </tr>
    </thead>
    <tbody>
      <% for(let item of items) { %>
        <tr>
          <td><%= item.track.artists[0].name %></td>
          <td><%= item.track.name %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <form action="/logout" method="POST">
    <button>Log Out</button>
  </form>
  </div>
  <script src="/app.js"></script>
<%- include('partials/footer') %> 